@import url('_fonts.css');

html,
body {
  margin: 0;
  --uno: dw-bg-base font-sans;
  font-family: 'Onest', sans-serif;
}

.dark {
  color-scheme: dark;
}

* {
  min-width: 0;
  box-sizing: border-box;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}
