:root {
  --color-neutral: #dbe2f0;
}

html,
body {
  overflow: hidden;
  margin: 0;
  --uno: dw-bg-base font-sans;
}

.dark {
  color-scheme: dark;
}

* {
  min-width: 0;
}

.dw-border-base {
  border: 1px solid var(--color-neutral);  
}
